---
---
/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

body {
    margin-top: 50px; /* Offset the height of the nav bar */
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

.vert-text h1 a {
	color: #ffffff;
}

/* Intro */

#home {
    padding-top: 50px;
    margin-top: -50px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
    #home {
        padding-top: 100px;
        margin-top: -100px;
    }
}

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url({{ site.baseurl }}images/header-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Venue Info */

#venue-info {
    padding-top: 50px;
    margin-top: -50px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
    #venue-info {
        padding-top: 100px;
        margin-top: -100px;
    }
}

#venue-info-title {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

#venue-info-title h2 {
	margin: 0;
}

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

.marketing h2 {
  font-weight: normal;
}

.venue {
    margin-top: 50px;
    padding-top: 150px; /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
}

.venue-image {
    margin-top: -150px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

.venue-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.details {
  padding: 50px 0;
}

.detail-item {
  margin-bottom: 15px;
}

.detail-icon {
  border: 3px solid #000000;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

/* RSVP */

#rsvp {
    padding-top: 50px;
    margin-top: -50px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
    #rsvp {
        padding-top: 100px;
        margin-top: -100px;
    }
}

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url({{ site.baseurl }}images/rsvp-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.rsvp-info {
	padding: 50px 0;
	background: #0a5175;
	color: #ffffff;
}

.rsvp-vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
}

.rsvp-vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
}

.rsvp-vert-text h1 a {
    color: #ffffff;
}

@media all and (min-width: 550px) and (max-width: 767px) {
    .rsvp-vert-text h1 {
        font-size: 2.5em;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .rsvp-vert-text h1 {
        font-size: 3.5em;
    }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    .rsvp-vert-text h1 {
        font-size: 3.5em;
    }
}

@media all and (min-width: 1200px) {
    .rsvp-vert-text h1 {
        font-size: 4.5em;
    }
}

/* Local Info */

#localinfo {
    padding-top: 50px;
    margin-top: -50px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
    #localinfo {
        padding-top: 100px;
        margin-top: -100px;
    }
}

.localinfo-title {
    padding: 50px 0;    
}

.localinfo-item {
  margin-bottom: 25px;
}

.img-localinfo {
  margin: 0 auto;
}

/* Gifts */

#gifts {
    padding-top: 50px;
    margin-top: -50px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
    #gifts {
        padding-top: 100px;
        margin-top: -100px;
    }
}

.gifts {
    color: #ffffff;
    background: url({{ site.baseurl }}images/present.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center; 
    padding: 100px 0; 
}

.gifts h1 {
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.gifts-text {
    background-color: rgba(0,0,0,0.5);
    padding: 50px 0;
}

/* Children */

#children {
    padding-top: 50px;
    margin-top: -50px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
    #children {
        padding-top: 100px;
        margin-top: -100px;
    }
}

.children {
    padding: 50px 0;
    background: #0a5175;
    color: #ffffff;
}

/* Footer */

.footer {
    padding: 50px 0;
}