---
---
/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  
  /* temporary */
  color: #ffffff;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

.vert-text h1 a {
	color: #ffffff;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url({{ site.baseurl }}images/header-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Venue Info */

#venue-info {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

#venue-info h2 {
	margin: 0;
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
/* .marketing .col-lg-4 { */
/*   text-align: center; */
/*   margin-bottom: 20px; */
/* } */
.marketing h2 {
  font-weight: normal;
}
/* .marketing .col-lg-4 p { */
/*   margin-left: 10px; */
/*   margin-right: 10px; */
/* } */

/* Featurettes
------------------------- */

.venue {
    padding-top: 150px; /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
}

.venue-image {
    margin-top: -150px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

.venue-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.pat_top-margin {
	margin-top: 50px;
}

/* Details */

.details {
/*   background: #7fbbda; */
  padding: 50px 0;
/*   color: #ffffff; */
}

.detail-item {
  margin-bottom: 15px;
}

.detail-icon {
  border: 3px solid #000000;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url({{ site.baseurl }}images/rsvp-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.rsvp-info {
	padding: 50px 0;
	background: #0a5175;
	color: #ffffff;
}

/* Local Info */

.localinfo {
    padding: 50px 0;
}

.local-info-details {
    padding: 50px 0;
}

.localinfo-item {
  margin-bottom: 25px;
}

.img-localinfo {
  margin: 0 auto;
}

/* Gifts */
.gifts {
    color: #ffffff;
    /*display: table;*/
    /*height: 400px;
    width: 100%;*/
    background: url({{ site.baseurl }}images/present.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center; 
    padding: 100px 0; 
}

.gifts h1 {
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.gifts-text {
    background-color: rgba(0,0,0,0.5);
    padding: 50px 0;
}

.children {
    padding: 50px 0;
    background: #0a5175;
    color: #ffffff;
}

.footer {
    padding: 50px 0;
}

/* Responsive */

/* @media (max-width: 768px) { */
    
/*   .header { */
/*     background: url({{ site.baseurl }}images/header-bg.jpg) no-repeat center center scroll;  */
/*   } */

/* } */