<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ site.baseurl }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    
    <!-- Custom css -->
    <link href="{{ site.baseurl }}css/custom.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="5">
    
    <!--------------------------------- Nav bar ---------------------------------->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			    <span class="sr-only">Toggle navigation</span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#home">Louise &amp; Patrick</a>
			</div>
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
			  <ul class="nav navbar-nav">
			    <li class="active"><a href="#home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="#venue-info">Venue Information</a></li>
                <li><a href="#rsvp">RSVP</a></li>
                <li><a href="#localinfo">Local Information</a></li>
                <li><a href="#gifts">Gifts</a></li>
                <li><a href="#children">Children</a></li>
			    
			  </ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>
    <!------------------------- End Navbar ------------------------------>
    
    <!-------------------------- Intro ---------------------------------->
    <div id="home" class="header">
        <div class="vert-text">
            <h1>Louise &amp; Patrick</h1>
            <p class="lead">Saturday 29th March 2014</p>
        </div>
    </div>
    <!-------------------------- /Intro --------------------------------->
    
    <!---------------------- Venue Information -------------------------->
    <div id="venue-info">
        
        <div id="venue-info-title">
          <div class="container text-center">
            <h2>Venue &amp; Church Information</h2>
          </div>
        </div>
    
        <div class="container marketing">
            
            <!-- Prestwold Hall -->
    	    <div class="venue">
    	        <div class="row">
    	            
    	            <div class="col-md-6 col-md-push-6">
                        <p class="text-right"><img class="venue-image" src="{{ site.baseurl }}images/prestwold-hall.jpg" alt="Prestwold Hall"></p>
                        <p class="text-right"><em><small>Photo &copy; <a href="http://www.flickr.com/photos/philmciver/" target="_blank">Phil 
                        McIver</a>, <a href="http://creativecommons.org/licenses/by-nc/2.0/legalcode" target="_blank">licence</a>, image has 
                        been modified</small></em></p>
                    </div>
                    
    	            <div class="col-md-6 col-md-pull-6">
    	                <h2 class="venue-heading">Prestwold Hall<br /><span class="text-muted">5.30pm</span></h2>
                        <p class="lead">Please join us for drinks, supper and dancing. Speeches are at 6.00pm so please be prompt.</p>
    	            </div>
    	            
    	        </div>
            </div>
    	    
    	    <!-- Prestwold Hall Details -->
            <div class="details">
                <div class="row">
                
                    <div class="col-md-3 text-center">
                        <div class="detail-item">
                            <div class="detail-icon"><span class="glyphicon glyphicon-home"></span></div>
                            <h2>Address</h2>
    	                    <address>
    	                        <strong>Prestwold Hall</strong><br />
    	                        Prestwold<br />
    	                        Loughborough<br />
    	                        LE12 5SQ<br />
    	                        <abbr title="Telephone">T:</abbr> +44 (0)1509 880236<br />
    	                        <abbr title="Website">W:</abbr> <a href="http://www.prestwold-hall.com/" target="_blank">www.prestwold-hall.com</a>
    	                    </address>
                        </div>
                    </div>
                    
                    <div class="col-md-3 text-center">
                        <div class="detail-item">
                            <div class="detail-icon"><span class="glyphicon glyphicon-road"></span></div>
                            <h2>Parking</h2>
    		                <p>There is ample parking at Prestwold Hall and you are welcome to leave your car in the car park overnight. Please collect it by 11.30am the
    		                following day.</p>
                        </div>
                    </div>
                    
                    <div class="col-md-3 text-center">
                        <div class="detail-item">
                            <div class="detail-icon"><span class="glyphicon glyphicon-user"></span></div>
                            <h2>Dresscode</h2>
                            <p>The bridal party will be wearing morning dress. Feel free to dust off your tails (and hats for the ladies) but as long as you look smart we'll let you in!</p>
                        </div>
                    </div>
                    
                    <div class="col-md-3 text-center">
                        <div class="detail-item">
                            <div class="detail-icon"><span class="glyphicon glyphicon-time"></span></div>
                            <h2>Carriages</h2>
                            <p>At midnight.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Prestwold Hall Details -->
    	    
    	    <hr />
    	    
    	    <!-- St. Margret Clitherow's -->
    	    <div class="venue">
                <div class="row">
                    
                    <div class="col-md-6">
                        <p><img class="venue-image" src="{{ site.baseurl }}images/st-margarets-collage.png" alt="St. Margaret Clitherow's"></p>
                        <p><em><small>Photos &copy; <a href="http://www.eastleakeandkeyworthrcp.co.uk/" target="_blank">East Leake And Keyworth Roman Catholic Parish</a></small></em></p>
                    </div>
                    
                    <div class="col-md-6">
                        <h2 class="venue-heading text-right">St. Margaret Clitherow's<br /><span class="text-muted">11.30am</span></h2>
                        <p class="lead text-right">The wedding ceremony will be held at 11.30am at St. Margaret Clitherow's Catholic Church. We would be delighted 
                        if you would like to share this part of our day.</p>
                    </div>
                    
                </div>
            </div>
            
            <!-- St. Margret Clitherow's Details -->
            <div class="details">
                <div class="row">
                
                    <div class="col-md-3 col-md-offset-3 text-center">
                        <div class="detail-item">
                            <div class="detail-icon"><span class="glyphicon glyphicon-home"></span></div>
                            <h2>Address</h2>
    		                <address>
    		                    <strong>St. Margaret Clitherow's Catholic Church</strong><br />
    		                    Willow Brook<br />
    		                    Keyworth<br />
    		                    NG12 5BB<br />
    		                    <abbr title="Website">W:</abbr> <a href="http://www.eastleakeandkeyworthrcp.co.uk/" target="_blank">www.eastleakeandkeyworthrcp.co.uk</a>
    		                </address>
                        </div>
                    </div>
                    
                    <div class="col-md-3 text-center">
                        <div class="detail-item">
                            <div class="detail-icon"><span class="glyphicon glyphicon-road"></span></div>
                            <h2>Parking</h2>
                            <p>There is a car park round the back of the church as well as on-road parking along Willow Brook and Selby Lane</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- /St. Margret Clitherow's Details -->
        </div>
    </div>
    <!---------------------- /Venue Information ------------------------->

    <!----------------------------- RSVP -------------------------------->
    <div id="rsvp">    
        <div class="callout">
            <div class="rsvp-vert-text">
                <h1><a href="mailto:rsvp@louiseandpatrick.com">rsvp@louiseandpatrick.com</a></h1>
            </div>
        </div>
        
        <div class="rsvp-info">
    		<div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2>Please RSVP by 31st January 2014</h2>
                        <p class="lead">Send us an <a href="mailto:rsvp@louiseandpatrick.com">email</a> to let us know if you can or can't make it, and if you have any specific dietary 
                        requirements as a buffet will be provided. Don't forget to let us know <a href="#children">who all's coming</a>!</p>
                        <p>If you'd prefer you can RSVP by post to the address on the invitation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----------------------------- /RSVP ------------------------------->
    
    <!-------------------------- Local info ----------------------------->
    <div id="localinfo" class="container">
        <h2 class="localinfo-title text-center">Local Information</h2>
        
        <div class="row">
            
            <!-- Accommodation -->
            <div class="col-md-4 text-center">
                <div class="localinfo-item">
                    <h4>Accommodation</h4>
                    <p><a href="#"><img class="img-localinfo img-responsive" src="{{ site.baseurl }}images/hotel-room.jpg" data-toggle="modal" data-target="#accommodationModal" /></a></p>
                    <p class="text-center"><em><small>Photo &copy; <a href="http://www.flickr.com/photos/intercontinentalhongkong/" target="_blank">InterContinental 
                    Hong Kong</a>, <a href="http://creativecommons.org/licenses/by-nc/2.0/legalcode" target="_blank">licence</a></small></em></p>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="accommodationModal" tabindex="-1" role="dialog" aria-labelledby="accommodationModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="accommodationModalLabel">Accommodation</h4>
                                </div>
                                <div class="modal-body">
                                    <p>There is a wide selection of hotels within a 15-mile radius, many of which have special rates for guests of 
                                    Prestwold Hall - please book directly with the individual hotels. Below are a few suggestions but if you would like a more complete list <a href="mailto:info@louiseandpatrick.com">send us an email</a>.</p>
                                    
                                    <div class="text-left">
                                        <p><strong>Travelodge Loughborough Central Hotel</strong> Bridge Street, Loughborough, LE11 1NQ</p>
                                        <p><strong>Premier Inn</strong> Southfield Road, Loughborough, LE11 9SA<p>
                                        <p><strong>Travelodge Loughborough Central Hotel</strong> Bridge Street, Loughborough, LE11 1NQ</p>
                                        <p><strong>Premier Inn</strong> Southfield Road, Loughborough, LE11 9SA</p>
                                        <p><strong>Ramada Loughborough Hotel</strong> The High Street, Loughborough, LE11 2QL</p>
                                        <p><strong>Guesthouse at Rempstone</strong> Main Street, Rempstone, Loughborough, LE12 6RH</p>
                                        <p><strong>The Hunting Lodge</strong> 38 South Street, Barrow Upon Soar, Loughborough, LE12 8LZ</p>
                                        <p><strong>Number 88</strong> 88 Leicester Road, Loughborough, LE11 2AQ</p>
                                        <p><strong>Imago at Burleigh Court</strong> Loughborough University, Loughborough, LE11 3RZ</p>
                                        <p><strong>Imago at Link Hotel</strong> New Ashby Road, Loughborough, LE11 4EX</p>
                                        <p><strong>Holiday Inn</strong> 129 St. nicholas Circle, Leicester, LE1 5LX</p>
                                        <p><strong>Nottingham South Premier Inn</strong> Loughborough Road, Nottingham, NG11 6LS</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
            </div>
            
            <!-- Places To Eat -->
            <div class="col-md-4 text-center">
                <div class="localinfo-item">
                    <h4>Places To Eat</h4>
                    <p><a href="#"><img class="img-localinfo img-responsive" src="{{ site.baseurl }}images/places-to-eat.jpg" data-toggle="modal" data-target="#placesToEatModal" /></a></p>
                    <p class="text-center"><em><small>Photo courtesy of <a href="http://join.deathtothestockphoto.com/" target="_blank">Death 
                    To The Stock Photo</a></small></em></p>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="placesToEatModal" tabindex="-1" role="dialog" aria-labelledby="placesToEatModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="placesToEatModalLabel">Places To Eat</h4>
                                </div>
                                <div class="modal-body">
                                    <p>There will be a buffet provided for all of our guests in the evening but if you are looking for somewhere to eat during the day
                                    here are a few suggestions:</p>
                                    <div class="text-left">
                                        <p><strong>Perkins</strong> <small><a href="http://www.perkins-family.co.uk/perkins-restaurant.perkins-restaurant" target="_blank">(website)</a></small></p>
                                        <p>Highly recommended restaurant in Keyworth. Great food, great wine, great service. 
                                            Booking in advance is advised. 3 min drive, 20 min walk from the church. Parking available.</p>
                                        <p><strong>Keyworth Tavern</strong> <small><a href="http://www.pubpeople.com/keyworthtavern" target="_blank">(website)</a></small></h4>
                                        <p>Newly refurbished family-friendly pub/restaurant serving a range of bar meals. In Keyworth, 1 min drive, 5 min walk from 
                                            the church. Parking available.</p>
                                        <p><strong>The Salutation Inn</strong> <small><a href="https://www.facebook.com/thesalutationkeyworth" target="_blank">(website)</a></small></h4>
                                        <p>Another family friendly Keyworth pub serving lunch between 12pm and 2pm on a Saturday (though 
                                            please check this with the pub). 3 min drive, 20 min walk from the church. Parking 
                                            available.</p>
                                        <p><strong>Loughborough Restaurants</strong></p>
                                        <p>If you would prefer to eat nearer to Prestwold Hall, Loughborough town centre has many 
                                            different options available: from cafes serving lighter options like 
                                            <a href="http://www.tripadvisor.co.uk/Restaurant_Review-g190776-d3802735-Reviews-Party_Pieces-Loughborough_Leicestershire_England.html" target="_blank">Party Pieces</a>
                                            and all the usual chain coffee shops, to flame-grilled chicken and steak houses like <a href="http://fernandosgrillhouse.co.uk/" target="_blank">Fernandos</a>.
                                            There are Italian restaurants (like <a href="http://www.caravelli.co.uk/" target=_"blank">Caravelli</a>), Chinese, Indian and even 
                                            Australian restaurants (like <a href="http://www.moomba-restaurant.com/" target="_blank">Moomba</a>)! 
                                            And of course there is a McDonald's, Subway and a Greggs (for all the Geordies!).</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
            </div>
            
            <!-- Taxis -->
            <div class="col-md-4 text-center">
                <div class="localinfo-item">
                    <h4>Taxis</h4>
                    <p><a href="#"><img class="img-localinfo img-responsive" src="{{ site.baseurl }}images/taxis.jpg" data-toggle="modal" data-target="#taxisModal" /></a></p>
                    <p class="text-center"><em><small>Photo &copy; <a href="http://www.flickr.com/photos/taniazza/" target="_blank">Tania 
                    Caruso</a>, <a href="http://creativecommons.org/licenses/by-nc/2.0/legalcode" target="_blank">licence</a></small></em></p>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="taxisModal" tabindex="-1" role="dialog" aria-labelledby="taxisModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="taxisModalLabel">Taxis</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Below are the numbers of a couple of local taxi firms:</p>
                                    <address class="text-left">
                                        <strong>Loughborough Taxis</strong><br>
                                        <abbr title="Telephone">T:</abbr> 01509 230230
                                    </address>
                                    <address class="text-left">
                                        <strong>ACE/ABC</strong><br>
                                        <abbr title="Telephone">T:</abbr> 0800 281004 / 01509 215656
                                    </address>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
            </div>
        </div>
    </div>
    <!-------------------------- /Local info ----------------------------->
    
    <!---------------------------- Gifts --------------------------------->
    <div id="gifts">
        <div class="gifts">
            <div class="gifts-text">
                <h1>Gifts</h1>
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <p class="lead">Your presence and not your presents is more than enough but if you would like to then we have set up a 
                                list for contributions to our honeymoon in Japan.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-right">
            <em><small>Photo &copy; <a href="http://www.flickr.com/photos/ejorpin/" target="_blank">Emily Orpin </a>, 
            <a href="http://creativecommons.org/licenses/by-nc/2.0/legalcode" target="_blank">licence</a></small></em>
        </p>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <p class="lead">Please visit <a href="https://secure.trailfinders.co.uk/services.nsf/giftlistContribute?readform" target="_blank">trailfinders.com</a>
                        and use the reference 5BCC3Z</p>
                    <p>We aim to do something specific with all contributions - from sushi in Tokyo to a night in a traditional ryokan!</p>
                    <p>If you would like us to do something in particular with your gift please do let us know! In case you need any inspiration, our current itinerary is as follows:</p>
                    <ul class="list-inline">
                        <li>Tokyo</li>
                        <li>-</li>
                        <li>Hakone</li>
                        <li>-</li>
                        <li>Yudanaka</li>
                        <li>-</li>
                        <li>Takayama</li>
                        <li>-</li>
                        <li>Kyoto</li>
                        <li>-</li>
                        <li>Tokyo</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    
                </div>
            </div>
        </div>
    </div>
    <!---------------------------- /Gifts -------------------------------->
    
    <!--------------------------- Children ------------------------------->
    <div id="children">
        <div class="children">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h1>Children</h1>
                        <p class="lead">For guests with children, you're very welcome to bring them along to the party. 
                            Equally, you're welcome to book the babysitter in and have a night to yourselves!</p>
                        <p>If you can let us know either way when you <a href="#rsvp">RSVP</a> so we have an idea of numbers that 
                            would be great.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------- /Children ------------------------------>
    
    <!---------------------------- Footer -------------------------------->
    <div class="footer container text-center">
        <p>Copyright &copy; Patrick Armstrong 2013
            <br />(unless otherwise stated)</p>
        <p>Photos of Patrick and Louise by <a href="http://bursill.com/" target="_blank">Ian Bursill</a></p>
    </div>
    <!---------------------------- /Footer ------------------------------->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.baseurl }}bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling - Put in a custom JavaScript file to clean this up -->
    <script>
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>
  </body>
</html>