<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ site.baseurl }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>

    <!-- LightView stuff -->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="/js/excanvas/excanvas.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/js/spinners/spinners.min.js"></script>
    <script type="text/javascript" src="/js/lightview/lightview.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/lightview/lightview.css"/>

    <!-- Custom js -->
    <script type="text/javascript" src="/js/louiseandpatrick.js"></script>

    <!-- Custom css -->
    <link href="{{ site.baseurl }}css/custom.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="5">

    <!-- ------------------------------- Nav bar -------------------------------- -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			    <span class="sr-only">Toggle navigation</span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#home">Louise &amp; Patrick</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
			  <ul class="nav navbar-nav">
			    <li class="active"><a href="#home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="#thank-yous">Thank yous</a></li>
                <li><a href="#photos">Photos</a></li>
			  </ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>
    <!-- ----------------------- End Navbar ---------------------------- -->

    <!-- ------------------------ Intro -------------------------------- -->
    <div id="home" class="header">

    </div>
    <!-- ------------------------ /Intro ---------------------------- -->

    <!-- -------------------- Thank yous ------------------------ -->
    <div id="thank-yous">

        <div id="thank-yous-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h1>Thank you!</h1>
                        <p class="lead">We are so lucky to have such amazing friends and families! Our wedding day was absolutely perfect and we have many people to thank for that.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container marketing">

            <!-- Our wonderful guests -->
    	    <div class="thank-you">
    	        <div class="row">

    	            <div class="col-md-6 col-md-push-6">
                        <p class="text-right"><img class="thank-you-image img-responsive" src="http://res.cloudinary.com/de4f9sf2c/image/upload/c_scale,w_506/v1408990939/Armstrong-290314-344_fgtvnn.jpg" alt="Our wonderful guests"></p>
                    </div>

    	            <div class="col-md-6 col-md-pull-6">
    	                <h2 class="thank-you-heading">Our wonderful guests!</h2>
                        <p class="lead">Thank you to everyone who came along to celebrate with us.</p>
    	            </div>

    	        </div>
            </div>

    	    <hr />

    	    <!-- St. Margret Clitherow's -->
    	    <div class="thank-you">
                <div class="row">

                    <div class="col-md-6">
                        <p><img class="thank-you-image img-responsive" src="http://res.cloudinary.com/de4f9sf2c/image/upload/c_scale,w_506/v1408992418/Armstrong-290314-054_evpddo.jpg" alt="St. Margaret Clitherow's"></p>
                    </div>

                    <div class="col-md-6">
                        <h2 class="thank-you-heading text-right">St. Margaret Clitherow's</h2>
                        <p class="lead text-right">Thank you to all at <a href="http://www.eastleakeandkeyworthrcp.co.uk/" target="_blank">St. Margaret Clitherow's Catholic Church</a> who helped make it such a lovely service.</p>
                    </div>

                </div>
            </div>

            <hr />

            <!-- Flowers -->
            <div class="thank-you">
                <div class="row">

                    <div class="col-md-6 col-md-push-6">
                        <p class="text-right"><img class="thank-you-image img-responsive" src="http://res.cloudinary.com/de4f9sf2c/image/upload/c_scale,w_506/v1408992846/Armstrong-290314-007_jd8sti.jpg" alt="Flowers"></p>
                    </div>

                    <div class="col-md-6 col-md-pull-6">
                        <h2 class="thank-you-heading">Flowers</h2>
                        <p class="lead">Thank you to Paddy, Jenny and The Flower Group at St. Margaret's who arranged the most beautiful flowers for the church, the venue and the bouquet.</p>
                    </div>

                </div>
            </div>

            <hr />

            <!-- Prestwold Hall -->
            <div class="thank-you">
                <div class="row">

                    <div class="col-md-6">
                        <p><img class="thank-you-image img-responsive" src="http://res.cloudinary.com/de4f9sf2c/image/upload/c_scale,w_506/v1408993250/Armstrong-290314-201_oib8ib.jpg" alt="Prestwold Hall"></p>
                    </div>

                    <div class="col-md-6">
                        <h2 class="thank-you-heading text-right">Prestwold Hall</h2>
                        <p class="lead text-right">Thank you to Nici, Sarah and all at <a href="http://www.prestwold-hall.com/" target="_blank">Prestwold Hall</a> who looked after us so well.</p>
                    </div>

                </div>
            </div>

            <hr />

            <!-- The Bright Sparks -->
            <div class="thank-you">
                <div class="row">

                    <div class="col-md-6 col-md-push-6">
                        <p class="text-right"><img class="thank-you-image img-responsive" src="http://res.cloudinary.com/de4f9sf2c/image/upload/c_scale,w_506/v1408993879/Armstrong-290314-336_n8l092.jpg" alt="The Bright Sparks"></p>
                    </div>

                    <div class="col-md-6 col-md-pull-6">
                        <h2 class="thank-you-heading">The Bright Sparks</h2>
                        <p class="lead">Thank you to <a href="http://www.brightsparksliveband.com/" target="_blank">The Bright Sparks</a> for putting on such an amazing show.</p>
                    </div>

                </div>
            </div>

            <hr />

            <!-- Ian Bursill -->
            <div class="thank-you">
                <div class="row">

                    <div class="col-md-6">
                        <p><img class="thank-you-image img-responsive" src="http://res.cloudinary.com/de4f9sf2c/image/upload/c_scale,w_506/v1408995197/Armstrong-290314-055_j0mwho.jpg" alt="Ian Bursill Photography"></p>
                    </div>

                    <div class="col-md-6">
                        <h2 class="thank-you-heading text-right">Ian Bursill Photography</h2>
                        <p class="lead text-right">Thank you to <a href="http://bursill.com/" target="_blank">Ian</a> for taking such brilliant photos and for being so lovely.</p>
                    </div>

                </div>
            </div>

            <hr />

            <!-- D and M Classics -->
            <div class="thank-you">
                <div class="row">

                    <div class="col-md-6 col-md-push-6">
                        <p class="text-right"><img class="thank-you-image img-responsive" src="http://res.cloudinary.com/de4f9sf2c/image/upload/c_scale,w_506/v1408995824/Armstrong-290314-178_vtwhjl.jpg" alt="D &amp; M Classics"></p>
                    </div>

                    <div class="col-md-6 col-md-pull-6">
                        <h2 class="thank-you-heading">D &amp; M Classics</h2>
                        <p class="lead">Thank you to <a href="http://www.dandmautos.co.uk/" target="_blank">D &amp; M Classics</a> and our fantastic chauffeur Marilyn.</p>
                    </div>

                </div>
            </div>

            <hr />

        </div>
    </div>
    <!-- -------------------- /Thank yous ---------------------- -->

    <!-- ------------------------ Photos ------------------------------ -->
    <div id="photos">
        <div class="callout">

        </div>

        <div class="photos-info">
    		<div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2>Photos</h2>
                        <p class="lead">As promised, below are some of the official photos of the day and some photos from our honeymoon!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------- /Photos ---------------------------- -->

    <!-- ------------------------ Galleries ---------------------------- -->
    <div id="galleries" class="container">
        <h2 class="galleries-title text-center">Our Wedding Day</h2>

        <div class="text-center">
            <a href='#' id='wedding_day_official_gallery'>
                <img src="http://res.cloudinary.com/de4f9sf2c/image/upload/c_scale,w_600/louiseandpatrick.com/wedding-day-official/Armstrong-290314-110.jpg" alt="Wedding Day Official Photos"/>
                <span class='overlay'><!-- [] --></span>
            </a>
        </div>

        <h2 class="galleries-title text-center">Our Honeymoon</h2>

        <div class="row">
            <div class="col-md-2 col-md-push-2 text-center">
                <a href='#' id='honeymoon_day1_gallery'>
                    <img class="img-gallery img-responsive" src="http://res.cloudinary.com/de4f9sf2c/image/upload/c_scale,w_500/louiseandpatrick.com/honeymoon-day-1/2014-03-31_12_23_03.jpg" alt="Honeymoon Day 1"/>
                    <span class='overlay'><!-- [] --></span>
                </a>
                <h4>Day 1</h4>
            </div>

            <div class="col-md-2 col-md-push-2 text-center">
                <a href='#' id='honeymoon_day2_gallery'>
                    <img class="img-gallery img-responsive" src="http://res.cloudinary.com/de4f9sf2c/image/upload/c_scale,w_500/v1409091830/louiseandpatrick.com/honeymoon-day-2/IMG_5048.jpg" alt="Honeymoon Day 2"/>
                    <span class='overlay'><!-- [] --></span>
                </a>
                <h4>Day 2</h4>
            </div>

            <div class="col-md-2 col-md-push-2 text-center">
                <a href='#' id='honeymoon_day3_gallery'>
                    <img class="img-gallery img-responsive" src="http://res.cloudinary.com/de4f9sf2c/image/upload/c_scale,w_500/v1409092179/louiseandpatrick.com/honeymoon-day-3/IMG_8689.jpg" alt="Honeymoon Day 3"/>
                    <span class='overlay'><!-- [] --></span>
                </a>
                <h4>Day 3</h4>
            </div>

            <div class="col-md-2 col-md-push-2 text-center">
                <a href='#' id='honeymoon_day4_6_gallery'>
                    <img class="img-gallery img-responsive" src="http://res.cloudinary.com/de4f9sf2c/image/upload/c_scale,w_500/v1409092827/louiseandpatrick.com/honeymoon-days-4-6/IMG_8751.jpg" alt="Honeymoon Days 4-6"/>
                    <span class='overlay'><!-- [] --></span>
                </a>
                <h4>Days 4-6</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-md-push-2 text-center">
                <a href='#' id='honeymoon_day7_gallery'>
                    <img class="img-gallery img-responsive" src="http://res.cloudinary.com/de4f9sf2c/image/upload/c_scale,w_500/louiseandpatrick.com/honeymoon-day-7/IMG_5258.jpg" alt="Honeymoon Day 7"/>
                    <span class='overlay'><!-- [] --></span>
                </a>
                <h4>Day 7</h4>
            </div>
        </div>

        <p class="lead text-center">More photos to come!</p>

        <!-- <h2 class="galleries-title text-center">Our Guests' Photos</h2> -->

    </div>
    <!-- ------------------------ /Galleries ---------------------------- -->

    <!-- -------------------------- Footer ------------------------------ -->
    <div class="footer container text-center">
        <p>Copyright &copy; Patrick Armstrong 2014
    </div>
    <!-- -------------------------- /Footer ------------------------------ -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.baseurl }}bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling - Put in a custom JavaScript file to clean this up -->
    <script>
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>

    <!-- Bind the gallery thumbnails to the actual gallery photos -->
    <script type='text/javascript'>
        jQuery(document).ready(function($) {
            bindGallery($, 'wedding_day_official_gallery', wedddingDayOfficialPhotos);
            bindGallery($, 'honeymoon_day1_gallery', honeymoonDay1Photos);
            bindGallery($, 'honeymoon_day2_gallery', honeymoonDay2Photos);
            bindGallery($, 'honeymoon_day3_gallery', honeymoonDay3Photos);
            bindGallery($, 'honeymoon_day4_6_gallery', honeymoonDay4_6Photos);
            bindGallery($, 'honeymoon_day7_gallery', honeymoonDay7Photos);
        });
    </script>

  </body>
</html>
